{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "tsconfigRootDir": "./",
        "project": ["./tsconfig.json"]
    },
    "extends": [
        "next",
        "next/core-web-vitals",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "plugins": ["@typescript-eslint"],
    "rules": {
        "camelcase": ["warn"],
        "no-new-wrappers": ["error"],
        "array-bracket-spacing": ["warn", "never"],
        "computed-property-spacing": ["warn", "never"],
        "function-call-argument-newline": ["warn", "consistent"],
        "jsx-quotes": ["warn", "prefer-double"],
        "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
        "max-len": ["warn", { "code": 120, "tabWidth": 4, "ignorePattern": "<path.+|d=[\"'].*?[\"']", "ignoreUrls": true }],
        "max-nested-callbacks": ["warn", 4],
        "max-statements-per-line": ["error", { "max": 1 }],
        "max-depth": ["error", 5],
        "no-var": "error",
        "eqeqeq": ["error", "always"],
        "new-cap": "warn",
        "new-parens": "error",
        "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 4 }],
        "no-lonely-if": "warn",
        "no-multi-assign": ["error", { "ignoreNonDeclaration": true }],
        "no-multiple-empty-lines": ["warn", { "max": 2, "maxBOF": 0 }],
        "no-negated-condition": "off",
        "no-nested-ternary": "off",
        "no-unneeded-ternary": "warn",
        "no-new-object": "error",
        "no-console": "warn",
        "no-debugger": "error",
        "no-trailing-spaces": "warn",
        "object-curly-newline": ["warn", { "multiline": true, "consistent": true }],
        "space-in-parens": ["warn", "never"],
        "spaced-comment": ["warn", "always", { "exceptions": ["="] }],
        "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
        "arrow-body-style": ["warn", "as-needed"],
        "arrow-parens": ["warn", "always"],
        "arrow-spacing": ["warn", { "before": true, "after": true }],
        "constructor-super": "error",
        "no-class-assign": "error",
        "no-confusing-arrow": "warn",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-new-symbol": "error",
        "no-useless-computed-key": "warn",
        "no-useless-constructor": "warn",
        "no-useless-rename": "warn",
        "prefer-const": "warn",
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "no-useless-concat": "warn",
        "template-curly-spacing": ["warn", "never"],
        "@typescript-eslint/prefer-nullish-coalescing": "warn",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/consistent-type-assertions": ["warn", {
            "assertionStyle": "as",
            "objectLiteralTypeAssertions": "allow-as-parameter"
        }],
        "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
        "@typescript-eslint/explicit-function-return-type": ["warn", { "allowExpressions": true }],
        "@typescript-eslint/member-delimiter-style": "error",
        "@typescript-eslint/method-signature-style": ["error", "property"],
        "@typescript-eslint/no-meaningless-void-operator": "error",
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/prefer-ts-expect-error": "error",
        "@typescript-eslint/type-annotation-spacing": "warn",
        "@typescript-eslint/unified-signatures": "warn",
        "no-redeclare": "off",
        "@typescript-eslint/no-redeclare": "error",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error", {
            "ignoreTypeValueShadow": false,
            "ignoreFunctionTypeParameterNameValueShadow": false
        }],
        "@typescript-eslint/no-throw-literal": "warn",
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "warn",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "error",
        "object-curly-spacing": "off",
        "@typescript-eslint/object-curly-spacing": ["warn", "always"],
        "quotes": "off",
        "@typescript-eslint/quotes": "warn",
        "semi": "off",
        "@typescript-eslint/semi": ["error", "always"],
        "space-before-function-paren": "off",
        "@typescript-eslint/space-before-function-paren": ["warn", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
        }],
        "brace-style": "off",
        "@typescript-eslint/brace-style": ["warn", "stroustrup", { "allowSingleLine": false }],
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": ["warn", "always-multiline"],
        "comma-spacing": "off",
        "@typescript-eslint/comma-spacing": ["warn", { "before": false, "after": true }],
        "default-param-last": "off",
        "@typescript-eslint/default-param-last": "warn",
        "dot-notation": "off",
        "@typescript-eslint/dot-notation": "warn",
        "func-call-spacing": "off",
        "@typescript-eslint/func-call-spacing": ["warn", "never"],
        "indent": "off",
        "@typescript-eslint/indent": ["warn", 4],
        "keyword-spacing": "off",
        "@typescript-eslint/keyword-spacing": ["warn", { "after": true, "before": true }],
        "import/no-self-import": "error",
        "import/no-cycle": ["error", { "ignoreExternal": true }],
        "import/no-useless-path-segments": ["warn", {"noUselessIndex": true }],
        "import/no-named-as-default": "warn",
        "import/no-deprecated": "warn",
        "import/no-mutable-exports": "warn",
        "import/no-extraneous-dependencies": "error",
        "no-duplicate-imports": "off",
        "import/no-duplicates": "warn",
        "import/newline-after-import": ["warn", { "count": 2 }],
        "import/no-unassigned-import": "warn",
        "import/no-named-default": "warn",
        "import/order": ["warn", {
            "groups": ["builtin", ["external", "unknown"], ["internal", "index", "parent", "sibling"], "type"],
            "pathGroups": [
                {
                    "pattern": "react",
                    "group": "builtin",
                    "position": "after"
                },
                {
                    "pattern": "next/**",
                    "group": "builtin",
                    "position": "after"
                },
                {
                    "pattern": "@mui/**",
                    "group": "unknown",
                    "position": "after"
                },
                {
                    "pattern": "@/**",
                    "group": "internal"
                }
            ],
            "pathGroupsExcludedImportTypes": ["type"],
            "newlines-between": "always",
            "alphabetize": {
                "order": "asc",
                "caseInsensitive": true
            }
        }]
    }
}
